<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Fertilidade em Ovos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold text-center mb-8">Detecção de Fertilidade em Ovos</h1>
        <form action="/infer" method="post" enctype="multipart/form-data" class="text-center mb-8">
            <input type="file" name="image" accept="image/*" class="block mx-auto mb-4">
            <div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">Carregar e Detectar</button>
                <button type="button" onclick="window.location.href='/'" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Limpar</button>
            </div>
        </form>
        {% if results %}
        <div class="flex flex-col items-center">
            <h2 class="text-2xl font-semibold mb-4">Resultados:</h2>
            <img src="data:image/png;base64,{{ image_data }}" class="border border-gray-300 shadow-lg mb-4">
            <ul class="list-disc list-inside text-left">
                {% for prediction in results %}
                    <li class="mb-2">
                        Classificação: 
                        <span class="font-semibold">
                            {% if prediction.class == "fertile" %}
                                fértil
                            {% elif prediction.class == "infertile" %}
                                infértil
                            {% else %}
                                {{ prediction.class }}
                            {% endif %}
                        </span> 
                        - Probabilidade: <span class="font-semibold">{{ "%.1f"|format(prediction.confidence * 100) }}%</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>
